<div>
    <h1>Lista de productos</h1>
    {{#each productos}}
        <div>
            <p>Título de la obra: {{this.title}}</p>
            <p>Descripcion: {{this.description}}</p>
            <p>Precio: {{this.price}}</p>
            <p>Imagen: {{this.thumbnail}}</p>
            <p>Código: {{this.code}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Categoría: {{this.category}}</p>
            <p>Etado: {{this.status}}</p>
            <p>Id: {{this.id}}</p>
        </div>
        <br>
    {{/each}}
</div>